Django==2.1
django-extensions==2.1.0

# PostgresSQL
psycopg2-binary==2.7.5

# serve files
whitenoise==4.0

# Rest Framework
djangorestframework==3.8.2

# Sentry
raven==6.9.0

# for date processing
python-dateutil==2.7.3

# Logging
git+https://github.com/Seedstars/django-rest-logger.git

django-rest-knox==3.1.5

# For image fields
Pillow==5.2.0
