Django==2.1.5
django-extensions==2.1.4

# PostgresSQL
psycopg2-binary==2.7.7

# serve files
whitenoise==4.1.2

# Rest Framework
djangorestframework==3.9.1

# Sentry
raven==6.10.0

# for date processing
python-dateutil==2.7.5

# Logging
git+https://github.com/Seedstars/django-rest-logger.git

django-rest-knox==3.6.0

# For image fields
Pillow==5.4.1
