Django==3.0.7
django-extensions==3.0.0

# PostgresSQL
psycopg2-binary==2.8.5

# serve files
whitenoise==5.1.0

# Rest Framework
djangorestframework==3.11.0

# Sentry
raven==6.10.0

# for date processing
python-dateutil==2.8.1

# Logging
git+https://github.com/Seedstars/django-rest-logger.git

django-rest-knox==4.1.0

# For image fields
Pillow==7.1.2
