.card h2 {
    font-size: 1.2em;
}
.card em {
    font-style: italic;
}
/* CSS used here will be applied after bootstrap.css */
.half, .other-half {
    position:relative;
}
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}
.other-half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    right: 47%;
}
.gray {
    color: #ddd;
}
