.main-menu {
    display: inline-block;
    float: right;
    line-height: 64px;
}

#root, #root > div, .layout {
    height: 100%;
}

.main-footer {
    background-color: #cccccc;
    text-align: center;
}
